<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EftS</title>
    <link rel="stylesheet" href="http://localhost:8000/dist/output.css">
</head>

<body>
  <h1></h1>
  <div>
    <ul>
        <% for (let rpl3 of kuliah) { %>
        <li><%= rpl3.nama%> - <%= rpl3.absen%></li>
        <% } %>
    </ul>
  </div>
</body>

</html> -->